
/* import google font */
@import url('https://fonts.googleapis.com/css?family=Montserrat Alternates');


* {
    font-family: "Montserrat Alternates";
}

.text-yaswarau {
    color: #0fb9b1;
}

.text-yaswarau-red {
    color: #ff7575;
}

.bg-yaswarau {
    /* background-color: #0fb9b1; */
    background: rgb(15,185,177);
    background: linear-gradient(90deg, rgba(15,185,177,1) 0%, rgba(26,209,201,1) 68%, rgba(29,212,204,1) 100%);
}

.bg-yaswarau-red {
    background: rgb(255,117,117);
    background: linear-gradient(90deg, rgba(255,117,117,1) 0%, rgba(255,138,138,1) 68%, rgba(255,144,144,1) 100%);
}

.bg-yaswarau:hover {
    background-color: #0fb9b1;
}

.border-yaswarau {
    border-color: #0fb9b1;
}