
/* import google font */
@import url('https://fonts.googleapis.com/css?family=Courgette');


* {
    font-family: "Courgette";
}

.text-ff7575 {
    color: #ff7575;
}

.text-00b7ad {
    color: #00b7ad;
}

.bg-00b7ad {
    background-color: #00b7ad;
}

.bg-00b7ad:hover {
    background-color: #03d1c7;
}

.border-00b7ad {
    border-color: #03d1c7;
}